body {
    margin: 0;
    padding-top: 35px;
    overflow-x: hidden;
}
.bg {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background-color: rgb(56, 56, 56);
}
.end {
    min-height: 5000px;
}

.menu {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 35px;
    background-color: rgb(57, 62, 73);
    z-index: 99;
}

.center_box {
    position: sticky;
    left: 0px;
    top: 0px;
    z-index: 100;
}

.box_main {
    position: relative;
    width: 100%;
    height: 75px;
    background-color: rgb(0, 0, 0);
}

.start {
    position: absolute;
    overflow: hidden;
    right: 0px;
    top: 0px;
    width: 200px;
    height: 75px;
    font-size: 20px;
    font-family: Anuphan;
    font-weight: bold;
    color: #ffffff;
    border: 0;
    background: linear-gradient(
        to bottom,
        #886a28,
        #d8b56b
    );
}
.start::before {
    position: absolute;
    content: "";
    inset: 0;
    right: 100%;
    background-color: rgba(255, 255, 255, 0.200);
    transition: .6s ease;
}
.start:hover::before {
    right: -100%;
}

.center {
    position: absolute;
    right: 230px;
    top: 50%;
    width: 50px;
    height: 50px;
    transform: translateY(-50%);
}

.login_register img {
    width: 100%;
    height: 100%;
}
.login_register {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 25px;
    height: 25px;
    transform: translate(-50%, -50%);
    transition: .1s ease;
}
.login_register::before {
    position: absolute;
    content: "";
    inset: 0;
    top: -100%;
    height: 0;
    background-color: rgba(0, 0, 0, 0.300);
}
.login_register:hover::before {
    top: 100%;
}
.login_register:hover {
    transform: translate(-50%, -50%) scale(1.13)
}

.login_register_box img {
    width: 100%;
    height: 100%;
}
.login_register_box {
    position: absolute; 
    left: 50%;
    top: 0px;
    transform: translateX(-50%);
    width: 300px;
    height: 200px;
    opacity: 0;
    pointer-events: none;
    transition: .4s ease;
}
.login_register:hover .login_register_box {
    top: 15px;
    opacity: 1;
    pointer-events: auto;
}

.login {
    position: absolute;
    overflow: hidden;
    left: 50%;
    top: 50px;
    transform: translateX(-50%);
    font-size: 15px;
    font-family: Anuphan;
    font-weight: bold;
    color: #ffffff;
    width: 200px;
    height: 40px;
    border: 0;
    border-radius: 4px;
    background-color: rgb(24, 48, 82);
    transition: .1s ease;
}
.login::before {
    position: absolute;
    content: "";
    inset: 0;
    top: -100%;
    background-color: rgba(0, 0, 0, 0.200);
}
.login:hover::before {
    top: 100%;
}
.login:hover {
    transform: translateX(-50%) scale(1.05);
}
.login:active {
    transform: translateX(-50%) scale(0.98);
}

.register {
    position: absolute;
    overflow: hidden;
    left: 50%;
    top: 120px;
    transform: translateX(-50%);
    font-size: 13px;
    font-family: Anuphan;
    font-weight: bold;
    color: #000000;
    border: 0;
    transition: .1s ease;
}
.register::before {
    position: absolute;
    content: "";
    inset: 0;
    top: -100%;
    background-color: rgba(255, 255, 255, 0.150);
}
.register:hover::before {
    top: 100%;
}
.register:hover {
    transform: translateX(-50%) scale(1.05);
}
.register:active {
    transform: translateX(-50%) scale(0.98);
}

.msg {
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
    font-size: 13px;
    font-family: Anuphan;
    font-weight: bold;
    color: #000000;
    border-bottom: 1px solid rgba(0, 0, 0, 0.400);
}

.role {
    position: absolute;
    left: 50%;
    top: 75%;
    transform: translate(-50%, -50%);
    font-size: 10px;
    font-family: Anuphan;
    font-weight: bold;
    color: #00a566;
}

.logout {
    position: absolute;
    overflow: hidden;
    left: 50%;
    top: 65%;
    transform: translate(-50%, -50%);
    width: 150px;
    height: 30px;
    font-size: 16px;
    font-family: Anuphan;
    font-weight: bold;
    color: #ffffff;
    border: 0;
    border-radius: 4px;
    background-color: rgb(202, 0, 0);
}
.logout:hover::before {
    top: 100%;
}
.logout:hover {
    transform: translate(-50%, -50%) scale(1.05);
}
.logout:active {
    transform: translate(-50%, -50%) scale(0.98);
}