body {
    margin: 0;
    padding-top: 30px;
    overflow-x: hidden;
}
.end {
    min-height: 1500px;
}

.menu {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 30px;
    background-color: rgb(0, 0, 0);
    z-index: 99;
}

.center_box {
    position: sticky;
    left: 0px;
    top: 0px;
    z-index: 100;
}

.box_main {
    position: relative;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 60px;
    border: 1px solid rgba(0, 0, 0, 0.200);
    background-color: rgb(255, 255, 255);
}

.home {
    position: absolute;
    left: 120px;
    top: 50%;
    transform: translateY(-50%);
    width: 100px;
    height: 30px;
    font-size: 14px;
    font-family: Anuphan;
    font-weight: bold;
    color: #ffffff;
    border: 0;
    border-radius: 4px;
    background-color: rgb(0, 0, 0);
}

.login {
    position: absolute;
    right: 450px;
    top: 50%;
    transform: translateY(-50%);
    width: 100px;
    height: 30px;
    font-size: 14px;
    font-family: Anuphan;
    font-weight: bold;
    color: #ffffff;
    border: 0;
    border-radius: 4px;
    background-color: rgb(0, 0, 0);
}

.center_msg {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
}

.msg {
    position: absolute;
    left: 50%;
    top: 20%;
    transform: translate(-50%, -50%);
    font-size: 40px;
    font-family: Anuphan;
    font-weight: bold;
    color: #000000;
}

.email {
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
    font-size: 14px;
    font-family: Anuphan;
    font-weight: bold;
    padding-left: 50px;
    color: #000000;
    width: 400px;
    height: 25px;
    border: 1px solid rgb(0, 0, 0);
}

.name {
    position: absolute;
    left: 50%;
    top: 48%;
    transform: translate(-50%, -50%);
    font-size: 14px;
    font-family: Anuphan;
    font-weight: bold;
    padding-left: 50px;
    color: #000000;
    width: 400px;
    height: 25px;
    border: 1px solid rgb(0, 0, 0);
}

.username {
    position: absolute;
    left: 50%;
    top: 56%;
    transform: translate(-50%, -50%);
    font-size: 14px;
    font-family: Anuphan;
    font-weight: bold;
    padding-left: 50px;
    color: #000000;
    width: 400px;
    height: 25px;
    border: 1px solid rgb(0, 0, 0);
}

.password {
    position: absolute;
    left: 50%;
    top: 64%;
    transform: translate(-50%, -50%);
    font-size: 14px;
    font-family: Anuphan;
    font-weight: bold;
    padding-left: 50px;
    color: #000000;
    width: 400px;
    height: 25px;
    border: 1px solid rgb(0, 0, 0);
}

.confirm_password {
    position: absolute;
    left: 50%;
    top: 72%;
    transform: translate(-50%, -50%);
    font-size: 14px;
    font-family: Anuphan;
    font-weight: bold;
    padding-left: 50px;
    color: #000000;
    width: 400px;
    height: 25px;
    border: 1px solid rgb(0, 0, 0);
}

.submit {
    position: absolute;
    left: 50%;
    top: 80%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    font-family: Anuphan;
    font-weight: bold;
    color: #ffffff;
    width: 100px;
    height: 50px;
    border: 0;
    border-radius: 4px;
    background-color: rgb(0, 0, 0);
}