<!DOCTYPE html>
<html>
    <head>
        <title>Register</title>
        <link rel="stylesheet" href="/static/css/register.css">
    </head>

    <body>
        <div class="menu"></div>
        <div class="center_box">
            <div class="box_main">
                <button class="home" onclick="location='/'">HOME</button>
                <button class="login" onclick="location='/login'">เข้าสู่ระบบ</button>
            </div>
        </div>

        <div class="center_msg">
            <form action="/register" method="post">
                <p class="msg">สมัครสมาชิก</p>
                <input type="text" name="email" id="email" placeholder="Email" required class="email">
                <input type="text" name="name" id="name" placeholder="Name" required class="name">
                <input type="text" name="username" id="username" placeholder="Username" required class="username">
                <input type="password" name="password" id="password" placeholder="Password" required class="password">
                <input type="password" name="confirm_password" id="confirm_password" placeholder="Confirm Password" required class="confirm_password">
                <button type="submit" class="submit">Submit</button>
            </form>
        </div>

        <div class="end"></div>
    </body>
</html>